.home{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: #0063BC !important;
    margin: 0rem !important;
}

.contrata{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    background: transparent url('../../assets/brookeCagle.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1; 
    transition:all .5s ease-in-out;
}
.contrata:hover{
    background-color: #0063BC;
    
}

.contrata p{
    text-align: left;
    font: normal 900 3.5vw Roboto !important;
    letter-spacing: 0px;
    color: #0063BC;
    opacity: 1;
    margin: 0.3rem 0 0 7rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    width: fit-content;
    padding: 0 2rem 0 1rem;
}

.buttonBox button{
    width: 319px;
    height: 58px;
    background: #0063BC;
    border: 3px solid #FFFFFF;
    border-radius: 4px;
    opacity: 1;  
    text-align: center;
    font: normal normal bold 1.6rem Roboto;
    letter-spacing: 0.42px;
    color: #FFFFFF;
    opacity: 1;
    margin: 2rem 0rem 10rem 7rem;
}

.cliente{
    display: flex;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    background: transparent url('../../assets/rayul.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    opacity: 1;
}

.btnHelp{
    width: 32rem !important;
    height: 58px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 4px solid #FF6A00;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal bold 1.6rem Roboto;
    letter-spacing: 0.4px;
    color: #FF6A00;
    opacity: 1;
    margin: 0rem 0rem 10rem 7rem !important;
}

@media (max-width: 576px) {
    
    .buttonBox button{
        width: 20rem !important;
        height: 5rem !important;
    }
    .btnHelp {
        width: 20rem !important;
        height: 5rem !important;
    }
    .contrata{
        height: 45rem;

    }
    .contrata p{ 
        font-size: 2.4rem !important;
    }
    .cliente{
        height: 45rem;
    }
}

