.footerFondo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #DCDCDC 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 3rem;
}

.footerFondo img{
    margin-left: 111px;
}

.contact{
    width: 416px;
    height: 11px;
    font: normal 10px Gotham;
    letter-spacing: 0px;
    color: #858585;
    opacity: 1;
    text-align: right;
    margin-right: 111px;
}

.footerAction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    box-shadow: 0px -3px 6px #00000040;
    opacity: 1;
    text-align: left;
    margin-right: 194px;
}

.telephone{
    width: 404px;
    height: 38px;
    padding-top: 24px;
    padding: 0px;
}

.telephone p{
    margin: 0px;
    letter-spacing: 0.4px;
    color: #1A1A1A;
    opacity: 1; 
}

.colorText{
    letter-spacing: 0px !important;
    color: #0063BC !important;
    opacity: 1;
}

.inputNumber{
    max-width: 198px;
    height: 40px;
    background: #DCDCDC 0% 0% no-repeat padding-box;
    border: none;
    padding: 0px 10px;
}

.condition{
    width: 157px;
    height: 29px;
    text-align: left;
    font: normal normal 300 10px/13px Roboto;
    letter-spacing: 0px;
    opacity: 1;
    margin: 0px;
}

.condition a{
    font: normal normal 300 10px/13px Roboto;
    letter-spacing: 0px;
    color: #0063BC;
}

.btnSolicitar{
    width: 198px;
    height: 40px;
    background: #FF6A00 0% 0% no-repeat padding-box;
    opacity: 1;
    border: none;
    color: #ffffff;
}