/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet');*/

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; 
}
/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

* {
  font-family: Roboto, sans-serif;  
}

@font-face {
    font-family: 'Roboto';
    src: url('/src/assets/fonts/roboto/Roboto-Regular.ttf'); /* Roboto-Regular-webfont.eot'*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/roboto/Roboto-Black.ttf'); /* Roboto-Regular-webfont.eot'*/
  font-weight: normal;
  font-style: black;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/roboto/Roboto-Bold.ttf'); /* Roboto-Regular-webfont.eot'*/
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/roboto/Roboto-Light.ttf'); /* Roboto-Regular-webfont.eot'*/
  font-weight: normal;
  font-style: light;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/roboto/Roboto-Italic.ttf'); /* Roboto-Regular-webfont.eot'*/
  font-weight: normal;
  font-style: italic;
}